* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head {
  display: flex;
  background-color: white;
  padding: 20px;
}
.page {
  width: 40%;
  background-color: white;
  margin: 40px auto;
  border-radius: 10px;
}
.buttons {
  padding: 10px;
  padding-left: 30px;
  border-bottom: 1px solid lightgrey;
}
.task-button {
  color: white;
  background-color: rgb(44, 172, 252);
  padding: 4px 6px;
  border-radius: 5px;
  border: 1px solid rgb(44, 172, 252);
  font-size: 15px;
}
.section-button {
  margin-left: 20px;
  background-color: white;
  padding: 4px 6px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 15px;
  color: grey;
}
.ceckhing-list {
  padding: 30px;
}
.title-check {
  display: flex;
  align-items: center;
}

.list-element {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.editor {
  background-color: rgb(44, 172, 252);
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  margin-left: 5px;
  color: white;
}

.editor-violet {
  background-color: violet;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  margin-left: 5px;
  color: white;
}

.editor-green {
  background-color: aquamarine;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  margin-left: 5px;
  color: white;
}

.editor-orange {
  background-color: orange;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  margin-left: 5px;
  color: white;
}

.editor-pink {
  background-color: palevioletred;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  margin-left: 5px;
  color: white;
}

.editor-lemon {
  background-color: lightgreen;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  margin-left: 5px;
  color: white;
}

.check-mark {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid green;
  text-align: center;
  color: green;
  font-size: 10px;
  display: inline-block;
  margin-right: 5px;
}

.check-mark-x {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid red;
  text-align: center;
  color: red;
  font-size: 10px;
  display: inline-block;
  margin-right: 5px;
}
